html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #888;
  overflow-x: hidden;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
}

a:focus,
input:focus,
button:focus,
.btn:focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #081828;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(white, #3b3b3b);
  cursor: default;
  margin: 0em;
  font: 400 14px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
  border-image: initial;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

img {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

h2,
h3,
h4,
h5 {
  font-weight: 600;
  margin: 0px;
  color: #081828;
}

h4 a {
  color: inherit;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

/* Bread Crumbs */

.section {
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* Section Title */
.section-title {
  text-align: center;
  margin-bottom: 40px;
  padding: 0px 300px;
  position: relative;
  z-index: 5;
  position: relative;
}

.section-title h2 {
  font-size: 30px;
  line-height: 35px;
  text-transform: capitalize;
  position: relative;
  font-weight: 800;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  content: "";
  background-color: #0167F3;
  height: 2px;
  width: 50px;
  margin-left: -25px;
  border-radius: 2px;
}

.section-title p {
  font-size: 14px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title {
    padding: 0px 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title {
    padding: 0px 20px;
    margin-bottom: 30px;
  }

  .section-title h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
  }

  .section-title p {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .section-title {
    padding: 0px 10px;
    margin-bottom: 25px;
  }

  .section-title h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .section-title p {
    font-size: 14px;
  }
}

/* One Click Scrool Top Button*/

/* Overlay */

/* Pagination CSS */

.button .btn {
  display: inline-block;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  padding: 13px 30px;
  background-color: #f37601;
  color: #fff;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  margin-right: 7px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button .btn i {
  display: inline-block;
  margin-right: 5px;
}

.button .btn:last-child {
  margin: 0;
}

.button .btn:hover {
  color: #fff;
  background-color: #081828;
  -webkit-box-shadow: 0px 4px 4px #0000000f;
  box-shadow: 0px 4px 4px #0000000f;
}

.align-left {
  text-align: left;
}

/* Preloader */

/*======================================
	01. Start Header CSS
========================================*/

/*===== NAVBAR =====*/

.navbar {
  padding: 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding-left: 0;
  border-radius: 0;
}

/*======================================
     End Header CSS
  ========================================*/
/*======================================
    Hero Area CSS
========================================*/
.hero-area {
  position: relative;
  background-color: #fff;
  margin-top: 12px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .md-custom-padding {
    padding-right: 0 !important;
  }
}

.hero-area .custom-padding-right {
  padding-right: 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .custom-padding-right {
    padding-right: calc(var(--bs-gutter-x)/ 2);
  }
}

@media (max-width: 767px) {
  .hero-area .custom-padding-right {
    padding-right: calc(var(--bs-gutter-x)/ 2);
  }
}

.hero-area .slider-head {
  position: relative;
  overflow: hidden;
}

.hero-area .hero-slider .single-slider {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider {
    height: 400px;
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider {
    height: 350px;
    margin-bottom: 12px;
  }
}

.hero-area .hero-slider .single-slider .content {
  padding: 20px 365px 20px 50px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider .content {
    padding-right: 300px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider .content {
    padding-right: 30px;
    padding-left: 20px;
  }
}

.hero-area .hero-slider .single-slider .content h2 {
  font-size: 30px;
  font-weight: 800;
  color: #081828;
}

.hero-area .hero-slider .single-slider .content h2 span {
  font-size: 17px;
  font-weight: 600;
  display: block;
  color: #8a8a8a;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider .content h2 span {
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider .content h2 span {
    font-size: 14px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider .content h2 {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider .content h2 {
    font-size: 20px;
  }
}

.hero-area .hero-slider .single-slider .content p {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider .content p {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider .content p {
    margin-top: 10px;
  }
}

.hero-area .hero-slider .single-slider .content h3 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
  color: #081828;
}

.hero-area .hero-slider .single-slider .content h3 span {
  display: inline-block;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #8a8a8a;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider .content h3 span {
    margin-right: 10px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider .content h3 span {
    margin-right: 8px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-slider .single-slider .content h3 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-slider .single-slider .content h3 {
    font-size: 20px;
  }
}

.hero-area .hero-small-banner {
  height: 244px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-small-banner {
    height: 240px;
  }
}

@media (max-width: 767px) {
  .hero-area .hero-small-banner {
    height: 240px;
  }
}

.hero-area .hero-small-banner .content {
  padding: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero-area .hero-small-banner .content h2 {
  font-size: 20px;
  font-weight: 700;
}

.hero-area .hero-small-banner .content h2 span {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  display: block;
  margin-bottom: 4px;
}

.hero-area .hero-small-banner .content h3 {
  color: #0167F3;
  font-size: 20px;
  font-weight: 800;
  display: block;
  margin-top: 7px;
}

.hero-area .hero-small-banner.style2 {
  margin-top: 12px;
  background-image: url("../images/hero/small-banner-bg.png");
  background-color: #081828;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-small-banner.style2 {
    margin-top: 0;
  }
}

.hero-area .hero-small-banner.style2 .content h2 {
  color: #fff;
}

.hero-area .hero-small-banner.style2 .content p {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  margin-top: 15px;
}

.hero-area .hero-small-banner.style2 .content .button {
  margin-top: 20px;
}

.hero-area .hero-small-banner.style2 .content .button .btn {
  background-color: #fff;
  color: #0167F3;
  padding: 10px 25px;
}

.hero-area .hero-small-banner.style2 .content .button .btn:hover {
  background-color: #0167F3;
  color: #fff;
}

/*======================================
    Shipping Info CSS
========================================*/

/*======================================
    Product CSS
========================================*/
/* Single Product*/
.single-product {
  border: 1px solid #eee;
  border-radius: 4px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 20px #00000012;
  box-shadow: 0px 0px 20px #00000012;
  padding: 8px;
  background: #fff;
}

.single-product .product-image {
  overflow: hidden;
  position: relative;
}

.single-product .product-image .button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -60px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
}

.single-product .product-image .button .btn {
  padding: 12px 20px;
  font-size: 13px;
  font-weight: 600;
  width: 140px;
}

.single-product .product-image .button .btn i {
  font-size: 18px;
    position: relative;
    top: 2px;
}

.single-product .product-image img {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.single-product:hover .product-image .button {
  bottom: 30px;
  opacity: 1;
  visibility: visible;
}

.single-product:hover .product-image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.single-product .product-info {
  padding: 20px;
  background-color: #fff;
}

.single-product .product-info .category {
  color: #888;
  font-size: 13px;
  display: block;
  margin-bottom: 2px;
}

.single-product .product-info .title a {
  font-size: 16px;
  font-weight: 700;
  color: #081828;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
  .single-product .product-info .title a {
    font-size: 15px;
  }
}

.single-product .product-info .title a:hover {
  color: #0167F3;
}

.single-product .product-info .price {
  margin-top: 15px;
}

.single-product .product-info .price span {
  font-size: 17px;
  font-weight: 700;
  color: #0167F3;
  display: inline-block;
}

/* End Single Product */
.trending-product {
  background-color: #f9f9f9;
}

.trending-product .section-title {
  margin-bottom: 20px;
}


/*======================================
	Footer CSS
========================================*/
.footer {
  background-color: #081828;
  position: relative;
  /* Single Footer */
  /* End Single Footer */
}

.button-final {
  display: flex;
  justify-content: center;
}


section.trending-product.section {
  padding-bottom: 3rem;
}